# Compiled binary addons (https://nodejs.org/api/addons.html)
/build

# Dependency directories
node_modules/
jspm_packages/


# Optional npm cache directory
.npm



# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local

#misc
.DS_Store